html {
    height: 100vh;
}
body {
    height: 100%;
    margin: 0;
    background-color: #303030;
}

.marker-cluster, .marker-cluster div {
    color: #fff;
    background-color: rgba(244, 67, 54, 0.45);
}

#mapa {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222222;
}

.country {
    z-index: 999;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto', sans-serif;
    background-color: #3a3a3a;
    box-shadow: 0px 0px 37px #000;
    font-size: 16px;
    padding: 15px 10px;
    background-color: #202029D9;
}

.country div {
    display: flex;
    justify-content: space-between;
}
.country .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.country .total-casos {
    color: #de3700;
}
.estado-lista-cidades {
    flex-direction: column;
    padding: 0px 20px;
    height: 0;
}
.estado-lista-cidades li {
    display: none;
}
.selecionado {
    border-bottom: solid 1px #000;
    margin-bottom: 20px;
    padding-bottom: 7px;
} 
.selecionado div.template-estado {
    box-shadow: 0px 0px 0px 0px #000;
}
.selecionado div.estado-lista-cidades li, div.estado-lista-cidades {
    height: auto;
    display: block;
}

/* .country .template-estado, .country .template-cidade,
.mobile .template-estado, .mobile .template-cidade {
    width: 100%;
    height: 50px;
    margin: 0px 0px 14px 0px;
    align-items: center;
    border-bottom: solid 1px #15161b;
    cursor: pointer;
} */

.none {
    display: none;
}

@media (min-width: 600px) {
    .country {
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 110px;
        transition: width .2s ease-in-out;
        white-space: nowrap;
    }
    .country:hover div span:first-child {
        display: flex;
        justify-content: space-between;
    }
    .country:hover div span.casos-ocorridos:nth-child(2) {
        display: none;
    }    
    .country:hover {
        width: 200px;
    }
    .country div span:first-child {
        display: none;
    }
    .container {
        display: flex;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 400px;
    }

    .container:hover {
        width: 700px;
    }
 
}

@media (max-width: 599px) {
    .container {
        position: absolute;
        top: 0px;
        width: 100%;
    }
}

img.leaflet-tile.leaflet-tile-loaded {
    filter: invert(1) grayscale(1) !important;
}

.tooltip-info {
    font-size: 12px;
    min-width: 200px;
    font-family: 'Roboto', sans-serif;
}
.tooltip-info label {
    display: flex;
    justify-content: center;
    font-weight: bold;margin-bottom: 10px;
}
.tooltip-info div {
    display: flex;
    justify-content: space-between;
}
.tooltip-info .total-casos {
    color: red;
}

.casos-ocorridos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
}
.casos-notificacao {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-right: 10px;
}
.casos-notificacao.confirmado {
    background-color: #F4C363;
}
.casos-notificacao.suspeito {
    background-color: #60BB69;
}
.casos-notificacao.mortos {
    background-color: #666;
}
.casos-notificacao.vivos {
    background-color: #2196F3;
}
.casos-notificacao.casos {
    background-color: #de3700;
}
#totalVivos {
    overflow: hidden;
    white-space: nowrap;
}

.leaflet-interactive {
    animation: pulseMarker 1s infinite;
}

@keyframes pulseMarker {
    0% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.5;
    }
}